#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

.App {
	width: 100vw;
	height: 100vh;
}

.circlePoint {
	transform: translate(-50%, -50%);
	cursor: default;
	border-radius: 50%;
	color: red;
	background: red;
	width: 5px;
	height: 5px;
}
